<div>
  <h2>Who are you?!</h2>
  <form ng-submit="createCharacter()" role="form">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="name" placeholder="What is your name?!" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="age" placeholder="How old are you?!" required>
    </div>
    <div class="form-group">
      <select ng-model="gender" class="form-control" required>
        <option value="">What is your gender?!</option>
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select>
    </div>
    <button type="submit" class="btn btn-warning">Go potty!</button>
  </form>
</div>
