  <h3>Hallway!</h3>
  <p>Text goes here!</p>
  <form>
    <button type="submit" class="btn btn-warning" ng-click="nextRoom('hallway-02')"><span class="glyphicon glyphicon-arrow-left"></span>Go to the left!</button>
    <button type="submit" class="btn btn-warning" ng-click="nextRoom('lobby')"><span class="glyphicon glyphicon-arrow-down"></span>Go back!</button>
    <button type="submit" class="btn btn-warning" ng-click="nextRoom('patio')"><span class="glyphicon glyphicon-arrow-right"></span>Go to the right!</button>
  </form>
