  <h3>Random Office Building Lobby!</h3>
  <p>There is a hallway in front of you and another hallway to your right! Which hallway would you like to head down?!</p>
  <form>
    <button type="submit" class="btn btn-warning" ng-click="nextRoom('hallway-01')"><span class="glyphicon glyphicon-arrow-up"></span>Go forward!</button>
    <button type="submit" class="btn btn-warning" ng-click="nextRoom('hallway-07')"><span class="glyphicon glyphicon-arrow-right"></span>Go to the right!</button>
  </form>
